/*Global*/
:root {
    --dark-background: #2A224F;
    --midnight: #1F1E33;
    --dark-indigo: #2F2B52;
    --deep-lavender: #3F3E5E;
    --light-background: #f7f7f7;
    --light-gray: #DDDCE0;
    --lavender: #8C87A8;
    --pale-lilac: #B6B0D3;
    --accent-purple: #7B65E9;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.4rem;
    --md: 2.0rem;
    --lg: 2.4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: var(--sm);
}

p {
    line-height: 1.4;
}

.title-lg {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--lg);
}

.title-md {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--md);
}

.inactive {
    display: none;
}

/*Nav*/
nav {
    background-color: var(--dark-background);
    padding: 1rem 2rem;
}

.logo img {
    width: 8rem;
}

/*Main*/
.general-info {
    background-color: var(--dark-background);
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.general-info h1 {
    color: var(--light-background);
    max-width: 90%;
    text-align: center;
}

.general-info p {
    color: var(--pale-lilac);
    max-width: 80%;
    text-align: center;
}